.logo{
    max-width: 15vw;
}
*{
    background-color: blue;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-family: 'Dancing Script', cursive;
    padding-bottom: 1em;
    color: coral;

}

.foot {
    background-color: rgb(210, 210, 210);
    color: rgb(120, 117, 112);
    padding: 1.5em;
    margin: 0;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.emphasized { 
    font-style: italic; 
}